<header id="navbar" class="overflow-hidden">
  <div class="container">
    <nav class="nav">
         <!-- <div class="nav-left">
            <a href="<%- config.root %>" class="nav-item" style="font-size: 20px;">
              <span class="logo"><%- theme.user_name || ''%></span>'s Blog
            </a>
         </div> -->
        <div class="nav-center is-hidden position-relative" id="search_container">
            <div class="nav-item full-width full-height">
                <i class="fa fa-search has-padding" aria-hidden="true"></i>
                <input type="text" id="search_input" class="search-input full-height full-width" placeholder="Search post" autofocus>
                <i id="close_search" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div id="search_result"></div>
        </div>
        <div class="nav-right nav-menu">
            <a class="nav-item" id="search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <% for (var menu in theme.menu) { %>
            <a class="nav-item" href="<%- url_for(theme.menu[menu])%>">
                <%- menu %>
            </a>
            <% } %>
        </div>
        <span class="nav-toggle" id="navMenuDropdown">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="navbar-menu position-absolute full-width content-box is-hidden-desktop is-flex flex-column center" style="top: 100%;">
            <% for (var menu in theme.menu) { %>
            <a class="nav-item flex-1" href="<%- url_for(theme.menu[menu])%>">
                <%- menu %>
            </a>
            <% } %>
        </div>
    </nav>
  </div>
</header>
